doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/css/buttons.css')
    script(rel='stylesheet', href='/stylesheets/js/jquery-1.11.3.js')
    script(rel='stylesheet', href='/stylesheets/js/buttons.js')
  body
    block content
